<a href="https://colab.research.google.com/github/shavithasri/data_science/blob/main/day_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
data={"name":["A","B","C","D","E"],"age":[12,13,45,np.nan,90],"marks":[45,67,89,76,32],"attendance":[76,75,67,89,65],"passed":["yes","yes","yes","no","yes"]}
df=pd.DataFrame(data)
print(df)

  name   age  marks  attendance passed
0    A  12.0     45          76    yes
1    B  13.0     67          75    yes
2    C  45.0     89          67    yes
3    D   NaN     76          89     no
4    E  90.0     32          65    yes

In [ ]:
print(df.isnull().sum())

name          0
age           1
marks         0
attendance    0
passed        0
dtype: int64

In [ ]:
df_cleaned = df.dropna()
print(df_cleaned)

  name   age  marks  attendance passed
0    A  12.0     45          76    yes
1    B  13.0     67          75    yes
2    C  45.0     89          67    yes
4    E  90.0     32          65    yes

In [ ]:
df["age"].fillna(df["age"].mean(), inplace=True)
df["marks"].fillna(df["marks"].median(), inplace=True)
df["attendance"].fillna(df["attendance"].mean(),
inplace=True)

<ipython-input-7-063422197f41>:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["age"].fillna(df["age"].mean(), inplace=True)
<ipython-input-7-063422197f41>:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["marks"].fillna(df["marks"].median(), inplace=True)
<ipython-input-7-063422197f41>:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["attendance"].fillna(df["attendance"].mean(),

In [ ]:
df["passed"].fillna(df["passed"].mode()[0], inplace=True)

<ipython-input-9-feee90eed8de>:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["passed"].fillna(df["passed"].mode()[0], inplace=True)

In [ ]:
df.ffill(inplace=True)
df.bfill(inplace=True)

In [ ]:
df.drop_duplicates(inplace=True)

In [ ]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
df_scaled = df.copy()
df_scaled[["marks", "attendance"]] = scaler.fit_transform(df[["marks", "attendance"]])
print(df_scaled)

  name   age     marks  attendance passed
0    A  12.0 -0.812286    0.188772    yes
1    B  13.0  0.251422    0.070789    yes
2    C  45.0  1.315130   -0.873069    yes
3    D  40.0  0.686575    1.722542     no
4    E  90.0 -1.440841   -1.109034    yes

In [ ]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
df_scaled[["marks", "attendance"]] = scaler.fit_transform(df[["marks", "attendance"]])
print(df_scaled)

  name   age     marks  attendance passed
0    A  12.0  0.228070    0.458333    yes
1    B  13.0  0.614035    0.416667    yes
2    C  45.0  1.000000    0.083333    yes
3    D  40.0  0.771930    1.000000     no
4    E  90.0  0.000000    0.000000    yes

In [ ]:
df_encoded = pd.get_dummies(df, columns=["passed"],
drop_first=True)
print(df_encoded)

  name   age  marks  attendance  passed_yes
0    A  12.0     45          76        True
1    B  13.0     67          75        True
2    C  45.0     89          67        True
3    D  40.0     76          89       False
4    E  90.0     32          65        True

In [ ]:
from sklearn.preprocessing import LabelEncoder
encoder = LabelEncoder()
df["passed"] = encoder.fit_transform(df["passed"])
print(df)

  name   age  marks  attendance  passed
0    A  12.0     45          76       1
1    B  13.0     67          75       1
2    C  45.0     89          67       1
3    D  40.0     76          89       0
4    E  90.0     32          65       1

In [ ]:
def performance_category(marks):
    if marks >= 85:
        return "High"
    elif marks >= 70:
        return "Medium"
    else:
        return "Low"

df["attendance"] = df["marks"].apply(performance_category)
print(df)

  name   age  marks attendance  passed
0    A  12.0     45        Low       1
1    B  13.0     67        Low       1
2    C  45.0     89       High       1
3    D  40.0     76     Medium       0
4    E  90.0     32        Low       1

In [ ]:
df["Age_Group"] = pd.cut(df["age"], bins=[18, 21, 24],
labels=["Young", "Adult"])
print(df)

  name   age  marks attendance  passed Age_Group
0    A  12.0     45        Low       1       NaN
1    B  13.0     67        Low       1       NaN
2    C  45.0     89       High       1       NaN
3    D  40.0     76     Medium       0       NaN
4    E  90.0     32        Low       1       NaN