<a href="https://colab.research.google.com/github/shavithasri/data_science/blob/main/day_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Hello, Excited to start Data Science.")

Hello, Excited to start Data Science.

In [ ]:
customer_name = "John Doe"
customer_age = 28
customer_balance = 120.75
print("Customer:", customer_name)
print("Age:", customer_age)
print("Balance:", customer_balance)

Customer: John Doe
Age: 28
Balance: 120.75

In [ ]:
product_price = 200
discount = product_price * 0.10  # 10% discount
final_price = product_price - discount
print("Final Price after Discount:", final_price)

Final Price after Discount: 180.0

In [ ]:
import numpy as np
sales = np.array([150, 200, 250, 300, 400, 350, 500])
print("Sales Data:", sales)

Sales Data: [150 200 250 300 400 350 500]

In [ ]:
print("Average Sales:", np.mean(sales))
print("Highest Sale:", np.max(sales))
print("Lowest Sale:", np.min(sales))

Average Sales: 307.14285714285717
Highest Sale: 500
Lowest Sale: 150

In [ ]:
import pandas as pd
data = {
"Customer": ["Alice", "Bob", "Charlie"],
"Age": [25, 30, 35],
"Amount Spent": [120, 200, 150]
}
df = pd.DataFrame(data)
print(df)

  Customer  Age  Amount Spent
0    Alice   25           120
1      Bob   30           200
2  Charlie   35           150